@model IEnumerable<ChannelBoxViewModel>
@{
    ViewData["Title"] = "MyChannels";
    var counter = 0;
}

<main class="mt-3 mb-5">
    <h1 class="text-center text-mishmash">Following</h1>
    <hr class="hr-2 bg-mishmash"/>
    <table class="table w-75 mx-auto table-hover">
        <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-5">Channel</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-2">Followers</th>
            <th class="col-md-2">Actions</th>
        </tr>   
        </thead>
        <tbody>
        @foreach (var channel in Model)
        {
            counter++;
            <tr class="row">
                <th class="col-md-1">@counter</th>
                <td class="col-md-5">@channel.Name</td>
                <td class="col-md-1">@channel.Type</td>
                <td class="col-md-2">@channel.Followers</td>
                <td class="col-md-2">
                    <div class="button-holder d-flex justify-content-between">
                        <button class="btn bg-mishmash text-white unfollow" data-channel-id="@channel.Id">Unfollow</button>
                        <a asp-controller="Channels" asp-action="Details" asp-route-id="@channel.Id" class="btn bg-mishmash text-white">Details</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</main>

